[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KTensorGraphs"]
	path = KTensorGraphs
	url = https://github.com/cran/KTensorGraphs
